* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

button {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 1em;
  background-color: #4D5B9E;
  padding: 1em 2em;
  cursor: pointer;
}

.root {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.app--questions-container {
  margin: auto;
}

.question-block {
  border-bottom: 1px solid #dddddd;
}

.question-block--question {
  font-weight: bold;
  max-width: 60ch;
  color: #293264;
  margin-bottom: 0.5em;
}

.question-block--answers {
  display: flex;
  gap: 1em;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.answer {
  color: #293264;
  font-size: 0.625rem;
  padding: 0.5em 1em;
  border: 1px solid #293264;
  border-radius: 0.5em;
  cursor: pointer;
}

.app--check-btn {
  font-size: 0.875rem;
  display: block;
  margin: 1em auto;
}

.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #293264;
}

.start-screen h2 {
  font-size: 2rem;
  margin-bottom: 0.1em;
}

.start-screen p {
  margin-bottom: 3em;
}